.bagian_atas{
    background: url('../image/bg.f.2.png') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
}
.isi{
    text-align: center;
    color: white;
    margin-top: 360px;
    font-family: Verdana;
}
.isi hr{
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
    border-width: medium;
}